@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nothing Font 47';
  src: url('./fonts/nothing-font-47.ttf') format('truetype');
}

@font-face {
  font-family: 'Nothing Font 45';
  src: url('./fonts/nothing-font-45.ttf') format('truetype');
}

body {
  @apply bg-deep-orange-600; /* or any other Tailwind color class */
}