@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Nothing-47";
    src: url(".\fonts\nothing-font-47.ttf");
  }

  @font-face {
    font-family: "Nothing-45";
    src: url(".\fonts\nothing-font-45.ttf");
  }